<div class="about-snippet-block text-center">
  <img class="img-fluid" width="150" src="{{ url_for('static', filename='img/ai.png') }}" alt="">
  <div class="mt-3">
    <p class="p-small-one">Praesent ut massa sem sed pede, iaculis cubilia adipiscing.</p>
    <p class="p-small-one">Nostra maecenas proin class nam sociosqu, cras nostra lectus.</p>
    <p class="p-small-one">Senectus odio per augue senectus eros, fringilla.</p>
    <hr>
    <p class="p-small-one text-muted">Nostra maecenas proin class nam sociosqu, cras nostra lectus.</p>
    <p class="p-small-one text-muted">Senectus odio per augue senectus eros, fringilla.</p>
  </div>
</div>





